<ng-container *ngIf="mintRequest && multisigItems">
  <div class="row py-3 align-items-center">
    <div class="col col-md-6">
      <h5 class="m-0">
        <strong>{{ mintRequest.amount }} tzBTC</strong>
      </h5>
      <p class="m-0">{{ mintRequest.requester.display_name }}</p>
      <p class="text-muted m-0">
        {{ mintRequest.requester.address | shorten }}
      </p>
    </div>
    <div class="col col-md-6">
      <p class="text-right m-0">
        {{ mintRequest.created_at | date: 'd.M.yy' }}
      </p>
      <p class="text-right text-muted m-0">
        {{ mintRequest.created_at | date: 'HH:mm' }}
      </p>
    </div>
  </div>
  <p class="text-muted">{{ mintRequest.state }}</p>
  <div>
    <p>
      <strong
        >{{ currentConfirmations }}/{{ maxConfirmations }} Confirmations</strong
      >
    </p>
  </div>
  <div class="signature--container">
    <app-multi-signature-item
      *ngFor="let multisigItem of multisigItems"
      [multisigItem]="multisigItem"
    ></app-multi-signature-item>
  </div>
  <div class="pt-3">
    <button
      *ngIf="
        !currentUserApproved &&
        mintRequest.state === 'open' &&
        currentUserType === 'keyholder'
      "
      type="button"
      class="btn btn-primary btn-block"
      (click)="confirmRequest()"
    >
      Confirm Request
    </button>
    <button
      *ngIf="
        mintRequest.state === 'approved' && currentUserType === 'keyholder'
      "
      type="button"
      class="btn btn-primary btn-block"
      (click)="submitApprovedMint()"
    >
      Submit Mint Operation
    </button>
  </div>
  <hr />
</ng-container>
