<div class="card">
  <div class="card-body">
    <h4 class="text-primary pb-3"><strong>tzETH Contract Settings</strong></h4>
    <!-- TODO: show all multi sig owner of contracts -->
    <div class="row align-items-center pb-3">
      <div class="col col-md-10">
        <!-- TODO: show human readable multi sig name -->
        <p class="m-0">Swiss Crypto Tokens</p>
        <!-- TODO show multi sig address -->
        <p class="text-muted m-0">tz12M…214x</p>
      </div>
      <div class="col col-md-2 pr-0 d-flex justify-content-center">
        <div
          class="border rounded-circle border-primary bg-white status--container d-flex align-items-center justify-content-center"
        >
          <!-- TODO: show on click for enabling/disabling -->
          <img src="/assets/img/check.svg" />
        </div>
      </div>
    </div>
    <div class="row align-items-center pb-3">
      <div class="col col-md-10">
        <!-- TODO: show human readable multi sig name -->
        <p class="m-0">Swiss Crypto Tokens</p>
        <!-- TODO show multi sig address -->
        <p class="text-muted m-0">tz12M…214x</p>
      </div>
      <div class="col col-md-2 pr-0 d-flex justify-content-center">
        <div
          class="border rounded-circle border-primary bg-white status--container d-flex align-items-center justify-content-center"
        >
          <!-- TODO: show on click for enabling/disabling -->
          <img src="/assets/img/check.svg" />
        </div>
      </div>
    </div>
    <div class="row align-items-center pb-3">
      <div class="col col-md-10">
        <!-- TODO: show human readable multi sig name -->
        <p class="m-0">Swiss Crypto Tokens</p>
        <!-- TODO show multi sig address -->
        <p class="text-muted m-0">tz12M…214x</p>
      </div>
      <div class="col col-md-2 pr-0 d-flex justify-content-center">
        <div
          class="border rounded-circle border-primary bg-white status--container d-flex align-items-center justify-content-center"
        >
          <!-- TODO: show on click for enabling/disabling -->
          <img src="/assets/img/check.svg" />
        </div>
      </div>
    </div>
    <div class="row align-items-center pb-3">
      <div class="col col-md-10">
        <!-- TODO: show human readable multi sig name -->
        <p class="m-0">Swiss Crypto Tokens</p>
        <!-- TODO show multi sig address -->
        <p class="text-muted m-0">tz12M…214x</p>
      </div>
      <div class="col col-md-2 pr-0 d-flex justify-content-center">
        <div
          class="border rounded-circle border-primary bg-white status--container d-flex align-items-center justify-content-center"
        >
          <!-- TODO: show on click for enabling/disabling -->
          <img src="/assets/img/check.svg" />
        </div>
      </div>
    </div>
    <label>Add Account</label>
    <div class="input-group mb-3">
      <input
        type="text"
        class="form-control"
        placeholder="tz1.."
        aria-label="Address"
      />
    </div>
    <button type="button" class="btn btn-primary btn-block mt-5">
      Update Contract
    </button>
  </div>
</div>

<div class="card mt-5">
  <div class="card-body">
    <h5>Multi Signature Update</h5>
    <div class="row py-3 align-items-center">
      <div class="col col-md-6">
        <!-- TODO: requested minting amount -->
        <h5 class="m-0">
          <strong>Remove</strong><span class="pl-3">LEXR</span>
        </h5>
        <h5 class="m-0"><strong>Add</strong><span class="pl-5">tz1..</span></h5>
        <!-- TODO: human readable name of requestee -->
        <p class="m-0">Bitcoin Suisse</p>
        <!-- TODO: requestee address -->
        <p class="text-muted">tz12M…214x</p>
      </div>
      <div class="col col-md-6">
        <p class="text-right">10.10.20 15:30</p>
      </div>
    </div>
    <div>
      <!-- TODO: number of confirmations and required confirmations -->
      <p><strong>3/4 Confirmations</strong></p>
    </div>
    <div class="signature--container">
      <app-multi-signature-item></app-multi-signature-item>
      <app-multi-signature-item></app-multi-signature-item>
      <app-multi-signature-item></app-multi-signature-item>
      <app-multi-signature-item></app-multi-signature-item>
    </div>
  </div>
</div>
