<div
  class="overlay fixed-top"
  (click)="clearAlerts()"
  *ngIf="(errors$ | async) !== null"
></div>
<div class="container alert--container p-0 fixed-top">
  <alert
    class="alert"
    (onClosed)="clearAlerts()"
    [dismissible]="true"
    type="danger"
    [dismissOnTimeout]="90000"
    *ngFor="let error of errors$ | async"
  >
    <h5 class="alert-heading mb-3">Oh no, something went wrong!</h5>
    <div>
      <h6>
        <strong>Error {{ error.status }}</strong>
      </h6>
      <p>
        {{ error.message }}
      </p>
    </div>
  </alert>
</div>
