<div class="card mt-5" *ngIf="operationRequestList.results.length > 0">
  <div class="card-body">
    <h5>{{ title }}</h5>
    <operation-request
      *ngFor="let request of operationRequestList.results"
      [operationRequest]="request"
      [address]="address"
      [isGatekeeper]="isGatekeeper"
      [isKeyholder]="isKeyholder"
      [keyholders]="keyholders"
      [contract]="contract"
    >
    </operation-request>
    <div class="pt-3" *ngIf="operationRequestList.total_pages > 1">
      <hr />
      <div class="row justify-content-between">
        <div class="col-md-2">
          <button
            type="button"
            class="btn btn-primary btn-block"
            (click)="loadPreviousPage()"
            [disabled]="operationRequestList.page <= 1"
          >
            <
          </button>
        </div>
        <div class="col-md-2">
          <label>
            {{ operationRequestList.page }} of
            {{ operationRequestList.total_pages }}
          </label>
        </div>
        <div class="col-md-2">
          <button
            type="button"
            class="btn btn-primary btn-block"
            (click)="loadNextPage()"
            [disabled]="
              operationRequestList.page >= operationRequestList.total_pages
            "
          >
            >
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
