<div class="card">
  <div class="card-body">
    <div>
      <tabset>
        <tab heading="Transfer">
          <div class="my-5">
            <label>Receiving Address</label>
            <div class="input-group mb-3">
              <input
                [formControl]="receivingAddressControl"
                type="text"
                class="form-control"
                placeholder="tz1.."
                aria-label="Address"
              />
            </div>
            <label class="d-flex justify-content-between"
              >Amount
              <!--TODO: add balance & token symbol-->
              <span>Balance: 124 tzBTC</span>
            </label>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <img
                    width="32px"
                    height="32px"
                    src="/assets/img/tzbtc.svg"
                    class="mr-2"
                  />
                  tzBTC</span
                >
              </div>
              <input
                [formControl]="amountControl"
                type="text"
                class="form-control"
                placeholder="0.0"
                aria-label="Amount"
              />
              <span class="input-group-prepend">
                <!--TODO: input max balance -->
                <button type="button" class="btn btn-primary">Max</button>
              </span>
            </div>
          </div>
          <button
            type="button"
            class="btn btn-primary btn-block"
            (click)="address ? transfer() : connectWallet()"
          >
            {{ address ? 'Transfer' : 'Connect Wallet' }}
          </button>
        </tab>
        <tab heading="Mint" id="tab1">
          <div class="my-5">
            <label>Receiving Address</label>
            <div class="input-group mb-3">
              <input
                [formControl]="receivingAddressControl"
                type="text"
                class="form-control"
                placeholder="tz1.."
                aria-label="Address"
              />
            </div>

            <label>Enter amount to mint</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <img
                    width="32px"
                    height="32px"
                    src="/assets/img/tzbtc.svg"
                    class="mr-2"
                  />
                  tzBTC</span
                >
              </div>
              <input
                [formControl]="amountControl"
                type="text"
                class="form-control"
                placeholder="0.0"
                aria-label="Amount"
              />
            </div>
          </div>
          <button
            type="button"
            class="btn btn-primary btn-block"
            (click)="address ? mint() : connectWallet()"
          >
            {{ address ? 'Mint' : 'Connect Wallet' }}
          </button>
        </tab>
        <tab heading="Burn">
          <div class="my-5">
            <label>Enter amount to burn</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <img
                    width="32px"
                    height="32px"
                    src="/assets/img/tzbtc.svg"
                    class="mr-2"
                  />
                  tzBTC</span
                >
              </div>
              <input
                type="text"
                class="form-control"
                placeholder="0.0"
                aria-label="Amount"
              />
            </div>
          </div>
          <button
            type="button"
            class="btn btn-primary btn-block"
            (click)="address ? burn() : connectWallet()"
          >
            {{ address ? 'Burn' : 'Connect Wallet' }}
          </button>
        </tab>
      </tabset>
    </div>
  </div>
</div>
<!-- TODO: show only if Gatekeeper/Keyholder-->
<div class="card mt-5">
  <div class="card-body">
    <h5>Open Minting Request</h5>
    <app-open-minting-request
      *ngFor="let request of pendingMintingRequests"
      [mintRequest]="request"
      [users]="users"
      [approvals]="approvals"
      [address]="address"
    ></app-open-minting-request>
  </div>
</div>

<div class="card mt-5">
  <div class="card-body">
    <h5>Completed Minting Requests</h5>
    <app-open-minting-request
      *ngFor="let request of approvedMintingRequests"
      [mintRequest]="request"
      [users]="users"
      [address]="address"
    ></app-open-minting-request>
  </div>
</div>
